@import "tailwindcss";


.nav-item a::after {
  content: "";
  width: 0;
  bottom: -3px;
  left: 0;
  background-color: black;
  position: absolute;
  height: 2px;
  transition: width 0.3s ease-in-out;
}
.nav-item a:hover::after {
  width: 100%;
}
.nav-item a{
  position: relative;
}

.home-main{
  background-image: url("/assets/main-image.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
 
h1 {
  line-height: 50px;
}

.weather-main {
  background-image: linear-gradient(rgba(30, 30, 30, 0.67))
}